* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: semibold;
}

@font-face {
  font-family: montserrat;
  src: url('/assets/static/Montserrat-Light.ttf');
}
@font-face {
  font-family: semibold;
  src: url('/assets/static/Montserrat-SemiBoldItalic.ttf');
}

.nav-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0px 50px;
  background-color: #060a5d;
}

.logo {
  width: 100%;
  font-size: 3rem;
  font-weight: bolder;
}

.logo > a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar > ul {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: white;
}
.navbar > ul > li:nth-child(2) > a {
  color: orangered;
}
.explores {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  border: 0.5px solid red;
}

.explores:hover {
  background-color: orangered;
}
.explores > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  gap: 20px;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}
.explores:hover > a {
  padding-left: 20px;
  transition: 0.3s ease-in-out;
}

a > .fa-solid {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  background-color: white;
  color: orangered;
}

.handburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.handburger > .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width:650px) {
  .nav-container {
      padding: 10px;
      border-bottom: 0.1px solid orangered;
  }

  .nav-container > .logo {
      margin: 0%;
      font-size: 1.5rem;
  }
  .navbar {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      padding: 10px;
      top: 60px;
      left: -100%;
      transition: 0.5s ease-in-out;
      background-color: white;
  }

  .navbar > ul {
      flex-direction: column;
      margin-left: 0%;
  }

  .navbar > ul > li > a { 
      font-size: 1.1rem;
      color: black;
  }

  .explores {
    padding: 5px;
}
.explores > a {
    width: 100%;
    display: flex;
    color: #fe4328;
    font-size: 0.8rem;
    gap: 5px;
}

  .navbar.active {
      left: 0%;
  }

  .handburger {
      display: block;
  }

  .handburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(-45deg);
  }
  .handburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .handburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(45deg);
  }
}
@media screen and (max-width:768px) {
  .nav-container {
      padding: 10px;
      height: 50px;
      border-bottom: 0.1px solid orangered;
  }

  .nav-container > .logo {
      margin: 0%;
      font-size: 1.5rem;
  }
  .navbar {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      padding: 10px;
      top: 60px;
      left: -100%;
      transition: 0.5s ease-in-out;
      background-color: white;
  }

  .navbar > ul {
      flex-direction: column;
      margin-left: 0%;
  }

  .navbar > ul > li > a { 
      font-size: 1.1rem;
      color: black;
  }

  .explores {
    padding: 5px;
}
.explores > a {
    width: 100%;
    display: flex;
    color: #fe4328;
    font-size: 0.8rem;
    gap: 5px;
}

  .navbar.active {
      left: 0%;
  }

  .handburger {
      display: block;
  }

  .handburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(-45deg);
  }
  .handburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .handburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(45deg);
  }
}

.about-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url("https://i.ibb.co/NNx4D31/firma-thieme-digital-printing-machine-overview-z713193-srgb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
}
.about-container > h2 {
  width: 70%;
  font-size: 3rem;
  color: white;
}
@media screen and (max-width:650px) {
  .about-container {
    width: 100%;
    height: 100vh;
    gap: 10px;
  }
  .about-container > h2 {
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width:768px) {
  .about-container {
    width: 100%;
    height: 100vh;
    gap: 10px;
  }
  .about-container > h2 {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
  }
}

.about-container > a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  gap: 5px;
  color: white;
  background-color: #FE4328;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.about-container > a > .fa-solid {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  transition: 0.4s ease-in-out;
}
.about-container > a:hover {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}
.about-container > a:hover > .fa-solid {
  padding-left: 20px;
  color: #060a5d;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width:650px) {
  .about-container > a {
    width: 50%;
    font-size: 1rem;
    padding: 10px;
  }
  .about-container > a > .fa-solid {
    font-size: 1rem;
  }
}
@media screen and (max-width:768px) {
  .about-container > a {
    width: 50%;
    font-size: 1rem;
    padding: 10px;
  }
  .about-container > a > .fa-solid {
    font-size: 1rem;
  }
}

.about-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  gap: 40px;
}

.about-page > .image-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width:650px) {
  .about-page {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .about-page > .image-con {
    width: 100%;
    gap: 10px;
  }
}
@media screen and (max-width:768px) {
  .about-page {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .about-page > .image-con {
    width: 100%;
    gap: 10px;
  }
}

.image-con > .image {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 20px;
}

.image > img {
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.image > .years {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 20px;
  border: 6px dotted #FE4328;
}
.years > h3 {
  color: #FE4328;
}

.image > span {
  height: 0%;
  border-top: 200px solid orange;
  border-left: 150px solid transparent;
}

@media screen and (max-width:650px) {
  .image-con > .image {
    width: 100%;
    height: 200px;
    gap: 10px;
  }
  .image > img {
    width: 55%;
    height: 200px;
  }
  .image > .years {
    width: 45%;
    font-size: 0.8rem;
    padding: px;
  }
}

@media screen and (max-width:768px) {
  .image-con > .image {
    width: 100%;
    height: 200px;
    gap: 10px;
  }
  .image > img {
    width: 55%;
    height: 200px;
  }
  .image > .years {
    width: 45%;
    font-size: 0.8rem;
    padding: 5px;
  }
}

.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.text > p {
  font-size: 1.2rem;
  color: #FE4328;
}
.text > h4 {
  width: 100%;
  font-size: 2rem;
}
.text > .exp {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

@media screen and (max-width:650px) {
  .text {
    width: 100%;
    gap: 10px;
  }
  .text > p {
    font-size: 1.2rem;
  }
  .text > h4 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: normal;
  }
  .text > .exp {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width:768px) {
  .text {
    width: 100%;
    gap: 10px;
  }
  .text > p {
    font-size: 1.2rem;
  }
  .text > h4 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: normal;
  }
  .text > .exp {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.team-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}
.team-page > p {
  font-size: 1.5rem;
  color: #FE4328;
}
.team-page > h3 {
  width: 70%;
  font-size: 2.5rem;
}
.team-page > .agents-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width:650px) {
  .team-page {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  .team-page > p {
    font-size: 1.2rem;
  }
  .team-page > h3 {
    width: 100%;
    font-size: 1.5rem;
  }
  .team-page > .agents-con {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width:768px) {
  .team-page {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  .team-page > p {
    font-size: 1.2rem;
  }
  .team-page > h3 {
    width: 100%;
    font-size: 1.5rem;
  }
  .team-page > .agents-con {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}

.agents-con > .agent {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 0.5px solid lightgray;
}

.agent > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width:650px) {
  .agents-con > .agent {
    width: 100%;
    gap: 20px;
  }
}
@media screen and (max-width:768px) {
  .agents-con > .agent {
    width: 100%;
    gap: 20px;
  }
}
.agent > h3 {
  font-size: 1rem;
}

.agent > p {
  font-size: 0.9rem;
  color: #FE4328;
}

@media screen and (max-width:650px) {
  .agent > h3 {
    font-size: 1.1rem;
  }
  .agent > p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width:768px) {
  .agent > h3 {
    font-size: 1.1rem;
  }
  .agent > p {
    font-size: 0.9rem;
  }
}

.agent > .link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link > a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width:650px) {
  .agent > .link {
    width: 100%;
    gap: 20px;
  }
  .link > a {
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    padding: 0px;
  }
}
@media screen and (max-width:768px) {
  .agent > .link {
    width: 100%;
    gap: 20px;
  }
  .link > a {
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    padding: 0px;
  }
}

.link > a:nth-child(1) > .fa-brands {
  width: 80px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000ff;
  padding: 13px;
}

@media screen and (max-width:650px) {
  .link > a:nth-child(1) > .fa-brands {
    width: 42px;
    height: 34px;
  }
}
@media screen and (max-width:768px) {
  .link > a:nth-child(1) > .fa-brands {
    width: 42px;
    height: 34px;
  }
}

.link > a:nth-child(2) > .fa-brands {
  background-color: #87CEEB;
  padding: 10px;
}
.link > a:nth-child(3) > .fa-brands {
  background-color: #A52A2A;
  padding: 10px;
}
.link > a:nth-child(4) > .fa-brands {
  background-color: #90EE90;
  padding: 10px;
}

.link > a:hover {
  padding-bottom: 25px;
  transition: 0.3s ease-in-out;
}

.faq-page {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
}
.faq-page > .faq:nth-child(1) {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq:nth-child(1) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:650px) {
  .faq-page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .faq-page > .faq:nth-child(1) {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width:768px) {
  .faq-page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .faq-page > .faq:nth-child(1) {
    width: 100%;
    height: 300px;
  }
}

.faq-page > .faq:nth-child(2) {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  color: white;
  background-color: #1A1E5D;
}

.faq:nth-child(2) > p {
  font-size: 1.1rem;
  color: #FE4328;
}
.faq:nth-child(2) > h3 {
  width: 100%;
  font-size: 2rem;
}
.faq:nth-child(2) > .first {
  width: 100%;
  gap: 10px;
  line-height: 1.5rem;
}
.first > h5 {
  height: 20px;
  font-size: 0.8rem;
}
.first > h5 > .fa-solid {
  color: #FE4328;
}

.first > p {
  font-size: 0.6rem;
  padding-left: 10px;
  color: lightgray;
}
.first > p > .fa-solid {
  color: #FE4328;
}

@media screen and (max-width:650px) {
  .faq-page > .faq:nth-child(2) {
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }
  .faq:nth-child(2) > p {
    font-size: 1.2rem;
  }
  .faq:nth-child(2) > h3 {
    width: 100%;
    font-size: 1.5rem;
  }
  .faq:nth-child(2) > .first {
    gap: 1rem;
    line-height: 1.2rem;
  }
  .first > h5 {
    height: fit-content;
    font-size: 0.9rem;
  }
  
  .first > p {
    font-size: 0.8rem;
    padding-left: 20px;
    color: lightgray;
  }
}
@media screen and (max-width:768px) {
  .faq-page > .faq:nth-child(2) {
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }
  .faq:nth-child(2) > p {
    font-size: 1.2rem;
  }
  .faq:nth-child(2) > h3 {
    width: 100%;
    font-size: 1.5rem;
  }
  .faq:nth-child(2) > .first {
    gap: 1rem;
    line-height: 1.2rem;
  }
  .first > h5 {
    height: fit-content;
    font-size: 0.9rem;
  }
  
  .first > p {
    font-size: 0.8rem;
    padding-left: 20px;
    color: lightgray;
  }
}

.faq-page > .faq:nth-child(3) {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  color: white;
  background-color: #FE4328;
}

.faq:nth-child(3) > p:nth-child(1) {
  font-size: 1.3rem;
}
.faq:nth-child(3) > h3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.faq:nth-child(3) > .text {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.faq:nth-child(3) > .print {
  display: flex;
  font-size: 1rem;
  gap: 20px;
}

@media screen and (max-width:650px) {
  .faq-page > .faq:nth-child(3) {
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }
  .faq:nth-child(3) > p:nth-child(1) {
    font-size: 1.3rem;
  }
  .faq:nth-child(3) > h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .faq:nth-child(3) > .text {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .faq:nth-child(3) > .print {
    display: flex;
    font-size: 0.7rem;
    gap: 10px;
  }  
}
@media screen and (max-width:768px) {
  .faq-page > .faq:nth-child(3) {
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
  }
  .faq:nth-child(3) > p:nth-child(1) {
    font-size: 1.3rem;
  }
  .faq:nth-child(3) > h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .faq:nth-child(3) > .text {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .faq:nth-child(3) > .print {
    display: flex;
    font-size: 0.7rem;
    gap: 10px;
  }  
}

.faq-page > .faq:nth-child(4) {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq:nth-child(4) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:650px) {
  .faq-page > .faq:nth-child(4) {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width:768px) {
  .faq-page > .faq:nth-child(4) {
    width: 100%;
    height: 300px;
  }
}

.printing-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.printing {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(14,1fr);
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

@media screen and (max-width:650px) {
  .printing-page {
    width: 100%;
    padding: 10px;
  }
  .printing {
    width: 100%;
    height: 70px;
    padding: 10px;
  }
}
@media screen and (max-width:768px) {
  .printing-page {
    width: 100%;
    padding: 10px;
  }
  .printing {
    width: 100%;
    height: 70px;
    padding: 10px;
  }
}

@keyframes slide {
   0%
    {transform: translateX(100%);}
   100% 
    {transform: translateX(-1100%);}
}
.printing > h3 {
  width: 600px;
  font-size: 2.2rem;
  color: #FE4328;
  animation: slide 30s infinite;
}

.printing:hover > h3 {
  animation-play-state: paused;
}

@media screen and (max-width:650px) {
  .printing > h3 {
    width: 130px;
    gap: 30px;
    font-size: 0.9rem;
  }
  @keyframes slide {
    0%
     {transform: translateX(100%);}
    100% 
     {transform: translateX(-1200%);}
 }
}

.footer-card {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
  background-color: #222222;
}

@media screen and (max-width:650px) {
    .footer-card {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        padding: 0px 10px;
    }
}
@media screen and (max-width:768px) {
    .footer-card {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        padding: 0px 10px;
    }
}

.footer-card > .olymax {
  width: 30%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 85px 10px;
  gap: 20px;
  background-color: black;
}
.olymax > a {
  font-size: 1.5rem;
  display: flex;
  text-decoration: none;
  gap: 10px;
  color: white;
}
.olymax > a > .fa-solid {
  background-color: transparent;
}
.olymax > p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: white;
}
.olymax > h3 {
  font-weight: bolder;
  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link > p > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.link > p > a > .fa-brands {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}
.link > p > a > .fa-brands:hover {
    color: #fe4328;
    background-color: white;
}
footer {
    color: white;
    font-size: 0.7rem;
}

@media screen and (max-width:650px) {
    .footer-card > .olymax {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .olymax > a {
        font-size: 1.7rem;
    }
    .olymax > p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .olymax > h3 {
        font-weight: bold;
    }
    .link > p > a > .fa-brands {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }
    footer {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .footer-card > .olymax {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .olymax > a {
        font-size: 1.7rem;
    }
    .olymax > p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .olymax > h3 {
        font-weight: bold;
    }
    .link > p > a > .fa-brands {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }
    footer {
        font-size: 0.8rem;
    }
}


.footer-card > .company-con {
  width: 70%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
}
.company-con > .com-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* padding: 50px; */
  gap: 10px;
}

@media screen and (max-width:650px) {
    .footer-card > .company-con {
        width: 100%;
        height: fit-content;
        padding: 10px;
        gap: 10px;
    }
    .company-con > .com-box {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}
@media screen and (max-width:768px) {
    .footer-card > .company-con {
        width: 100%;
        height: fit-content;
        padding: 10px;
        gap: 10px;
    }
    .company-con > .com-box {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}

.company {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.company > h3 {
    font-size: 1rem;
    color: #fe4328;
}
.company > a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    transition: 0.3s ease-in-out;
}

.company > a:hover {
    color: #fe4328;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width:650px) {
    .company {
        width: 100%;
        gap: 10px;
        font-size: 0.8rem;
    }
    .company > h3 {
        font-size: 1rem;
    }
    .company > a {
        font-size: 0.7rem;
    }
}
@media screen and (max-width:768px) {
    .company {
        width: 100%;
        gap: 10px;
        font-size: 0.8rem;
    }
    .company > h3 {
        font-size: 1rem;
    }
    .company > a {
        font-size: 0.7rem;
    }
}

.service {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.service > h3 {
    font-size: 1rem;
    color: #fe4328;
}
.service > a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    transition: 0.4s ease-in-out;
}

.service > a:hover {
    color: #fe4328;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width:650px) {
    .service {
        width: 100%;
        gap: 10px;
        font-size: 0.8rem;
    }
    .service > h3 {
        font-size: 1rem;
    }
    .service > a {
        font-size: 0.7rem;
    }
}
@media screen and (max-width:768px) {
    .service {
        width: 100%;
        gap: 10px;
        font-size: 0.8rem;
    }
    .service > h3 {
        font-size: 1rem;
    }
    .service > a {
        font-size: 0.7rem;
    }
}

.get {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.get > h3 {
    font-size: 1rem;
    color: #fe4328;
}

.get > a {
    display: flex;
    text-decoration: none;
    gap: 10px;
    font-size: 0.8rem;
    color: white;
}
.get > a > .fa-solid {
    background-color: transparent;
}
.get > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 15px;
    font-size: 0.8rem;
    color: white;
}
.get > p > .fa-solid {
    color: #fe4328;
}

@media screen and (max-width:650px) {
    .get {
        width: 100%;
        gap: 10px;
    }
    .get > h3 {
        font-size: 1rem;
    }
    .get > a {
        font-size: 0.7rem;
    }
    .get > p {
        font-size: 0.7rem;
    }
}
@media screen and (max-width:768px) {
    .get {
        width: 100%;
        gap: 10px;
    }
    .get > h3 {
        font-size: 1rem;
    }
    .get > a {
        font-size: 0.7rem;
    }
    .get > p {
        font-size: 0.7rem;
    }
}

.join {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}
.join > h3 {
    width: 100%;
    font-size: 1rem;
    color: white;
}

@media screen and (max-width:650px) {
    .join {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    .join > h3 {
        width: 100%;
        font-weight: normal;
    }
}
@media screen and (max-width:768px) {
    .join {
        width: 100%;
        padding: 10px;
    }
    .join > h3 {
        width: 100%;
        font-weight: normal;
    }
}

.join > form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join > form > input {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    outline: none;
    border: 0.5px solid whitesmoke;
}
.join > form > button {
    width: 20%;
    height: 100%;
    background-color: #fe4328;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .join > form {
        width: 100%;
        height: fit-content;
    }
    .join > form > input {
        width: 100%;
        height: fit-content;
        font-size: 0.8rem;
    }
    .join > form > button {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .join > form {
        width: 100%;
        height: fit-content;
    }
    .join > form > input {
        width: 100%;
        height: fit-content;
        font-size: 0.8rem;
    }
    .join > form > button {
        font-size: 0.8rem;
    }
}